.CreateSesh {
  height: 100%;
  overflow-y: hidden;
}

#bkgSvg {
  position: absolute;
  bottom: 0;
  animation: slideUp 0.8s ease forwards;
}

.formWrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80%;
}

.formTitle {
  font-size: 1.6em;
  font-weight: 900;
  color: white;
  text-align: center;
}

.formSubTitle {
  font-weight: 600;
  font-size: 0.9em;
  color: white;
  text-align: center;
  width: 60%;
  margin: 0 auto;
  padding-top: 1em;
}

#optionSelectorWrapper {
  width: 80%;
  margin: 0 auto;
  padding-top: 2em;
}

.courseSelector,
.timeSelector {
  font-size: 0.8em;
  background-color: white;
  width: 48%;
  outline: none;
  color: #616161;
  padding: 10px;
  border: none;
  border-radius: 5px;
  appearance: default;
}

.timeSelector {
  float: right;
}

.selectLocation {
  font-size: 0.8em;
  width: 80%;
  border-radius: 5px;
  border: none;
  padding: 12px;
  outline: none;
  display: block;
  box-sizing: border-box;
  color: #616161;
  margin: 0 auto;
  margin-top: 1em;
}

.locationDetails,
.seshDetails {
  font-size: 0.8em;
  width: 80%;
  border-radius: 5px;
  border: none;
  padding: 12px;
  outline: none;
  display: block;
  box-sizing: border-box;
  color: #616161;
  margin: 0 auto;
  margin-top: 1em;
  resize: none;
}

.errorMsg {
  width: 100%;
  color: rgb(207, 18, 11);
  position: absolute;
  font-size: 0.8em;
  text-align: center;
  margin-top: 1em;
}

.submitBtn {
  font-size: 0.75em;
  width: 140px;
  height: 30px;
  border-radius: 15.5px;
  background-color: white;
  color: #fea050;
  font-weight: 700;
  box-shadow: 1px 2px 4px 0 #f48830;
  display: block;
  margin: 0 auto;
  margin-top: 6em;
}

.cancelBtn {
  font-family: Montserrat-Medium;
  font-size: 0.7em;
  color: #ffffff;
  letter-spacing: 0;
  text-align: center;
  margin-top: 0.8em;
}

@keyframes slideUp {
  0% {
    bottom: -100%;
  }
  100% {
    bottom: 0;
  }
}
